<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="../static/CSS/styles.css" th:href="@{/CSS/My-profile.css}" rel="stylesheet">
    <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">

</head>
<body>

<!-- Masthead-->
<header th:fragment="" class="masthead">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                             src="../static/img/car-repair-logo.png" alt=""
                                                             class="img-fluid"></a>
            <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li th:if="${isAuthenticated}"><a class="nav-link" href="#services">Services</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" href="#about">About</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" href="#team">Team</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4><p class="colorBlack" th:text="${currentUser.getUsername()}">Username</p></h4>
                                <p class="text-secondary mb-1">
                                <p class="colorBlack" th:text="${currentUser.getRole()}">User role</p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" type="submit">
                    <a href="#" th:href="@{/users}">Show Users page</a>
                </button>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="colorBlack" th:text="${currentUser.getEmail()}">Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="colorBlack" th:text="${currentUser.getPhone()}">Phone</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleCreateUser()">Register User</button>
                                <br><br>
                                <div class="card-body hidden" id="createNewUser"
                                     style="width: 100%; background-color: #DEDEEE; padding: 5px">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/register}"
                                          th:object="${registerDto}" method="post" class="form-signin">

                                        <div class="form-label-group">
                                            <input type="email" id="inputEmail" style="width: 150px"
                                                   class="form-control" th:field="*{email} "
                                                   placeholder="Email address" required>
                                            <p th:errors="*{email}">Email not correct.</p>
                                        </div>
                                        <br>

                                        <div class="form-label-group">
                                            <input type="text" id="inputPhone" style="width: 150px"
                                                   class="form-control" placeholder="Phone"
                                                   required th:field="*{phone}">
                                            <p th:errors="*{phone}">Phones must be 10 signs.</p>
                                        </div>
                                        <br><br>

                                        <button class="button1 button2" style="font-size: larger"
                                                type="submit">Create user
                                        </button>
                                    </form>
                                </div>
                                </div>
                                <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleCreateModel()">Create Model</button>
                                <div class="card-body hidden" id="createNewModel" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/model}" th:object="${modelDto}" method="post" class="form-signin">
                                        <div class="form-label-group">
                                            <!--Vehicle Make Show only-->
                                            <label>Vehicle Make</label><br/>
                                            <select class="selectMY" style="width: 150px" th:field="*{makeId}">
                                                <option th:each="make : ${vehicleMake}"
                                                        th:value="${make.getMake_id()}"
                                                        th:text="${make.getName()}">
                                                    Vehicle Make
                                                </option>
                                            </select>
                                            <p class="error" th:errors="*{makeId}">Wrong Vehicle Make</p>
                                        </div>
                                        <br>

                                        <div class="form-label-group">
                                            <label>Vehicle Model</label><br>
                                            <input type="text" id="inputVehicleModelId" style="width: 150px"
                                                   class="form-control" th:field="*{name}"
                                                   placeholder="Vehicle Model" required>
                                            <p th:errors="*{name}">Wrong vehicle model</p>
                                        </div>
                                        <br><br>

                                        <button class="btn btn-info" style="font-size: larger"
                                                type="submit">Create model
                                        </button>
                                    </form>
                                </div>
                                <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                    <button class="btn btn-info" onclick="toggleCreateBrand()">Create Make</button><br><br>
                                    <div class="card-body hidden" id="createNewMake" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                        <form style="padding: 20px;" th:action="@{/admin-panel/make}"
                                              th:object="${brandDto}" method="post" class="form-signin">
                                            <div class="form-label-group">
                                                <label>Vehicle Make</label><br>
                                                <input type="text" id="inputVehicleMake" style="width: 150px"
                                                       class="form-control" th:field="*{name}"
                                                       placeholder="Vehicle Make" required>
                                                <p th:errors="*{name}">Wrong vehicle Make</p>
                                            </div><br><br>

                                            <button class="btn btn-info" style="font-size: larger"
                                                    type="submit">Create make</button>

                                        </form>
                                    </div>
                                </div>
                                <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                    <button class="btn btn-info" onclick="toggleCreateVehicle()">Create Vehicle</button><br><br>
                                    <div class="card-body hidden" id="createNewVehicle" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                        <form style="padding: 20px;" th:action="@{/admin-panel/vehicle}"
                                              th:object="${vehicleDto}" method="post" class="form-signin">

                                            <div class="form-label-group">
                                                <label for="inputOwnerName">Owner Id</label><br>
                                                <input type="text" style="width: 150px" id="inputOwnerName"
                                                       class="form-control" th:field="*{userName}"
                                                       placeholder="OwnerId" required>
                                                <p th:errors="*{userName}">Wrong owner</p>
                                            </div><br>

                                            <div class="form-label-group">
                                                <!--Vehicle Model Show only-->
                                                <label >Model</label>
                                                <br/>
                                                <select class="selectMY" style="width: 150px" th:field="*{modelId}">
                                                    <option th:each="model : ${vehicleModel}"
                                                            th:value="${model.getId()}"
                                                            th:text="${model.getMake().getName()+ ' ' + model.getName()}">
                                                        Model
                                                    </option>
                                                </select>
                                                <p class="error" th:errors="*{modelId}">Category error placeholder</p>
                                            </div><br>

                                            <div class="form-label-group">
                                                <label for="inputVehicleYear">Year</label><br>
                                                <input type="number" id="inputVehicleYear" style="width: 150px"
                                                       class="form-control" placeholder="Vehicle year"
                                                       required th:field="*{creationYear}">
                                                <p th:errors="*{creationYear}">Wrong year</p>
                                            </div><br>

                                            <div class="form-label-group">
                                                <label for="inputVehicleYear">License plate</label><br>
                                                <input type="text" id="inputVehiclePlate" style="width: 150px"
                                                       class="form-control" placeholder="Vehicle plate"
                                                       required th:field="*{licensePlate}">
                                                <p th:errors="*{licensePlate}">Incorrect vehicle plate.</p>
                                            </div><br>

                                            <div class="form-label-group">
                                                <label for="inputVehicleYear">Vin</label><br>
                                                <input type="text" id="inputVehicleVin" style="width: 150px"
                                                       class="form-control" placeholder="Vehicle VIN"
                                                       required th:field="*{VIN}">
                                                <p th:errors="*{VIN}">Vin should be 17 signs long.</p>
                                            </div><br><br>

                                            <button class="btn btn-info" style="font-size: larger"
                                                    type="submit">Create vehicle</button>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                        <div class="col-sm-12">
                            <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleUpdateVehicle()">Update Vehicle</button><br><br>
                                <div class="card-body hidden" id="updateVehicle" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/vehicleUpdate}"
                                          th:object="${vehicle}" method="post" class="form-signin">

                                        <div class="form-label-group">
                                            <label for="inputOwnerName">Vehicle VIN</label><br>
                                            <input type="text" style="width: 150px"
                                                       class="form-control" th:field="*{VIN}"
                                                   placeholder="VehicleId" required>
                                            <p th:errors="*{VIN}">Wrong VIN</p>
                                        </div><br>

                                        <div class="form-label-group">
                                            <label for="inputOwnerName">Owner name</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{userName}"
                                                   placeholder="Owner" required>
                                            <p th:errors="*{userName}">Wrong owner</p>
                                        </div><br>


                                        <div class="form-label-group">
                                            <label for="inputVehicleYear">License plate</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" placeholder="Vehicle plate"
                                                   required th:field="*{licensePlate}">
                                            <p th:errors="*{licensePlate}">Incorrect vehicle plate.</p>
                                        </div><br>
                                        <button class="btn btn-info" style="font-size: larger"
                                                type="submit">Update vehicle</button>
                                    </form>
                                </div>
                            </div>
                            <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleDeleteVehicle()">Delete Vehicle</button><br><br>
                                <div class="card-body hidden" id="deleteVehicle" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/vehicleDelete}"
                                          th:object="${vehicle}" method="post" class="form-signin">

                                        <div class="form-label-group">
                                            <label >Vehicle Id</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{VIN}"
                                                   placeholder="VehicleId" required>
                                            <p th:errors="*{VIN}">Wrong vehicle Id</p>
                                        </div><br>
                                        <button class="btn btn-info" style="font-size: larger"
                                                type="submit">Delete vehicle</button>
                                    </form>
                                </div>
                            </div>
                            <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleUpdateService()">Update Service</button><br><br>
                                <div class="card-body hidden" id="updateService" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/serviceUpdate}"
                                          th:object="${service}" method="post" class="form-signin">

                                        <div class="form-label-group">
                                            <label >Service id</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{id}"
                                                   placeholder="Service Id" required>
                                            <p th:errors="*{id}">Wrong service id</p>
                                        </div><br>

                                        <div class="form-label-group">
                                            <label >Service name</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{name}"
                                                   placeholder="Service name" required>
                                            <p th:errors="*{name}">Wrong service name</p>
                                        </div><br>

                                        <div class="form-label-group">
                                            <label >Service price</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{price}"
                                                   placeholder="Service price" required>
                                            <p th:errors="*{price}">Wrong service price</p>
                                        </div><br>

                                        <button class="btn btn-info" style="font-size: larger"
                                                type="submit">Update service</button>
                                    </form>
                                </div>
                            </div>
                            <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                                <button class="btn btn-info" onclick="toggleDeleteService()">Delete Service</button><br><br>
                                <div class="card-body hidden" id="deleteService" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                                    <form style="padding: 20px;" th:action="@{/admin-panel/serviceDelete}"
                                          th:object="${service}" method="post" class="form-signin">

                                        <div class="form-label-group">
                                            <label >Service Id</label><br>
                                            <input type="text" style="width: 150px"
                                                   class="form-control" th:field="*{id}"
                                                   placeholder="ServiceId" required>
                                            <p th:errors="*{id}">Wrong service Id</p>
                                        </div><br>
                                        <button class="btn btn-info" style="font-size: larger"
                                                type="submit">Delete service</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div style="float: left; padding-left: 30px; padding-bottom: 30px;">
                            <button class="btn btn-info" onclick="toggleCreateVisit()">Create Visit</button><br><br>
                            <div class="card-body hidden" id="createVisit" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
                        <form th:action="@{/admin-panel/visit}" th:object="${visitDto}"  method="post">
                            <div class="form-group">
                                <label>Choose vehicle</label>
                                <select class="selectMY" style="width: 150px" th:field="*{vehicleId}">
                                    <option th:each="vehicle : ${allVehicles}"
                                            th:value="${vehicle.getId()}"
                                            th:text="${vehicle.getLicensePlate()}">
                                        Model
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="services">Select service</label>
                                <select class="form-control selectpicker" th:field="*{services}" id="services" multiple>
                                    <option th:each="service : ${vehicleServices}"
                                            th:value="${service.getId()}"
                                            th:text="${service.getName() + ', '+ service.getPrice()}">services
                                    </option>

                                </select>
                            </div>

                            <div class="form-label-group">
                                <label for="inputStartDate">Start Date</label><br>
                                <input type="text" id="inputStartDate" style="width: 150px"
                                       class="form-control" placeholder="Start Date"
                                       required th:field="*{startDate}">
                                <p th:errors="*{startDate}">Incorrect vehicle plate.</p>
                            </div><br>

                            <div class="form-label-group">
                                <label for="inputEndDate">End Date</label><br>
                                <input type="text" id="inputEndDate" style="width: 150px"
                                       class="form-control" placeholder="Start Date"
                                       required th:field="*{endDate}">
                                <p th:errors="*{endDate}">Incorrect vehicle plate.</p>
                            </div><br>

                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </form>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <div th:each="service : ${services}">
                            <!-- Post preview-->
                            <div class="post-preview expand">
                                <div class="wrapper">
                                    Service type:
                                    <span class="fw-bolder" href="#" th:text="${service.getName()}">Name</span>
                                </div>
                                <div class="wrapper">
                                    Price:
                                    <span class="fw-bolder" href="#" th:text="${service.getPrice()}">Price</span>
                                </div>
                            </div>
                            <hr class="my-4"/>
                        </div>
                    </ul>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <div th:each="vehicle : ${vehicles}">
                            <!-- Post preview-->
                            <div class="post-preview expand">
                                <div class="wrapper">
                                    Vehicle VIN:
                                    <span class="fw-bolder" href="#" th:text="${vehicle.getVIN()}">VIN</span>
                                </div>
                                <div class="wrapper">
                                    Vehicle License Plate:
                                    <span class="fw-bolder" href="#" th:text="${vehicle.getLicensePlate()}">Price</span>
                                </div>
                                <div class="wrapper">
                                    Vehicle Brand:
                                    <span class="fw-bolder" href="#"
                                          th:text="${vehicle.getModel().getMake().getName()}">Brand</span>
                                </div>
                                <div class="wrapper">
                                    Vehicle Model:
                                    <span class="fw-bolder" href="#"
                                          th:text="${vehicle.getModel().getName()}">Model</span>
                                </div>
                                <div class="wrapper">
                                    Creation Year:
                                    <span class="fw-bolder" href="#" th:text="${vehicle.getCreationYear()}">Creation Year</span>
                                </div>
                            </div>
                            <hr class="my-4"/>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var vehicleData = []
        var ownerID = document.getElementById('userId').value

        function toggleCreateModel() {
            var x = document.getElementById("createNewModel");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleCreateVisit() {
            var x = document.getElementById("createVisit");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleCreateBrand() {
            var x = document.getElementById("createNewMake");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleCreateUser() {
            var x = document.getElementById("createNewUser");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function toggleCreateVehicle() {
            var x = document.getElementById("createNewVehicle");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function toggleUpdateVehicle() {
            var x = document.getElementById("updateVehicle");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleDeleteVehicle() {
            var x = document.getElementById("deleteVehicle");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function toggleUpdateService() {
            var x = document.getElementById("updateService");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function toggleDeleteService() {
            var x = document.getElementById("deleteService");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script
</div>
</div>
</body>
</html>