<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Password</title>
    <link href="../static/CSS/signup-styles.css" th:href="@{/CSS/signup-styles.css}" rel="stylesheet">
</head>
<body>
<style>
    body{
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649697039/wallpaperflare.com_wallpaper_1_cjei4s.jpg") no-repeat;

    }
</style>
<div class="login-box">
    <h1>Change password</h1>
<form th:action="@{/request-pass-restart}" method="post" th:object="${passRestartRequestDto}">
    <div class="textbox">
        <input type="text" id="inputEmail" class="form-control"
               style="width: 250px"
               placeholder="Email" required
               autofocus th:field="*{email}">
        <label class="error" th:errors="*{email}">Email error</label>
    </div>
<!--    <button class="button1 button2" style="font-size: larger"-->
<!--            type="submit">Send Email-->
<!--    </button>-->
    <input class="btn" type="submit" value="Sign in">

</form>
</div>
<script src="jquery.min.js"></script>
<script th:inline="javascript">
    var serverContext = [[@{/}]];
        function resetPass(){
            var email = $("#email").val();
            $.post(serverContext + "user/resetPassword",{email: email} ,
                function(data){
                    window.location.href =
                        serverContext + "login?message=" + data.message;
                })
                .fail(function(data) {
                    if(data.responseJSON.error.indexOf("MailError") > -1)
                    {
                        window.location.href = serverContext + "emailError.html";
                    }
                    else{
                        window.location.href =
                            serverContext + "login?message=" + data.responseJSON.message;
                    }
                });
        }

</script>
</body>

</html>