<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Login</title>
    <link href="../static/CSS/signup-styles.css" th:href="@{/CSS/signup-styles.css}" rel="stylesheet">
</head>
<body>
<style>
    body{
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649697039/wallpaperflare.com_wallpaper_1_cjei4s.jpg") no-repeat;

    }
</style>
<div class="login-box">
    <h1>Login</h1>
    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
        <div class="textbox">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <!--            TODO ask for a icons fix. Need to implement icon for user and password-->
            <input type="email" placeholder="Email" th:field="*{email}">
            <label class="error" th:errors="*{email}">Email error placeholder</label>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" th:field="*{password}">
            <label class="error" th:errors="*{password}">Password error placeholder</label>
        </div>
        <input class="btn" type="submit" value="Sign in">
    </form>
    <p> Forgotten password? <a style="font-weight: bold" href="forgetPassword.html" th:href="@{/request-pass-restart}">Reset password here</a></p>
</div>
</body>
</html>