<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyProfile</title>
    <link href="../static/CSS/My-profile.css" th:href="@{/CSS/My-profile.css}" rel="stylesheet">
    <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />-->
</head>
<body>
<style>
    body {
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649494851/4k_wallpaper_duyboz.jpg") no-repeat;

    }
</style>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                             src="../static/img/car-repair-logo.png" alt=""
                                                             class="img-fluid"></a>
            <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="active" th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/auth/register}">Register
                        User</a></li>
                    <li class="active" th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/users}">Users list</a>
                    </li>
                    <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
                    <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/my-profile}">My profile</a></li>
                    <li class="active" th:unless="${currentUser != null}"><a class="nav-link" th:href="@{auth/login}">Login</a></li>
                    <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/auth/logout}">Log out</a></li>
                    <!--                        Sm@rtg1rag-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="cold-md-4-myprofile mb-3">
                <div class="card-myprofile">
                    <div class="card-body-myprofile">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <!--                                <h4><p class="mb-1" th:text="${currentUser.getUsername()}">Username</p></h4>-->
                                <!--                                <h4><p class="text-muted font-size-sm" th:text="${currentUser.getRole()}">Role</p></h4>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-solid fa-user"></i> Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${currentUser.getUsername()}">Username</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-user-shield"></i> Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${currentUser.getRole()}">Role</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-mobile-alt"></i> Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${currentUser.getPhone()}">Phone</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-envelope"></i> Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${currentUser.getEmail()}">Email</h6>
                            </div>
                        </div>
                        <hr>
                        <button  class="button-78" data-mdb-toggle="modal" data-mdb-target="#editProfileModal"><i class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Edit
                            Profile
                        </button>
                        <button class="button-78" data-mdb-toggle="modal" data-mdb-target="#editUserPassword"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Change Password
                        </button>
                        <button class="button-78" data-mdb-toggle="modal" data-mdb-target="#sendReportModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Send Report
                        </button>
                        <hr>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Create Visit
                        </button>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78"
                                data-mdb-toggle="modal" data-mdb-target="#updateServiceModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Update Service
                        </button>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78"
                                data-mdb-toggle="modal" data-mdb-target="#deleteServiceModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delete Service
                        </button>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <div th:each="vehicle : ${vehicles}">
                                <!-- Post preview-->
                                <div class="post-preview expand">
                                    <div class="wrapper">
                                        Vehicle VIN:
                                        <span class="fw-bolder" href="#" th:text="${vehicle.getVIN()}">VIN</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle License Plate:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getLicensePlate()}">Price</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle Brand:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getModel().getMake().getName()}">Brand</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle Model:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getModel().getName()}">Model</span>
                                    </div>
                                    <div class="wrapper">
                                        Creation Year:
                                        <span class="fw-bolder" href="#" th:text="${vehicle.getCreationYear()}">Creation Year</span>
                                    </div>
                                </div>
                                <hr class="my-4"/>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">EditProfile</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/my-profile/user-info-change}" th:object="${editProfileDto}"
                                  method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-user"></i> Username</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputUsername" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${currentUser.getUsername()}" th:field="*{username}"><br>
                                            <p th:errors="*{username}">Username error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-mobile-alt"></i> Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputPhoneUpdate" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${currentUser.getPhone()}"
                                                   th:field="*{phoneNumber}"><br>
                                            <p th:errors="*{phoneNumber}">Phone error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editUserPassword" tabindex="-1" aria-labelledby="editUserPassword"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit password</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/my-profile/user-pass-change}"
                                  th:object="${passwordChangeDto}" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-unlock"></i> Old Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPassword" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="Old Password" required th:field="*{oldPassword}">
                                            <p th:errors="*{oldPassword}">Old Password error</p>
                                        </div>
                                        <hr>
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-lock-open"></i> New Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPassword" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="New Password" required th:field="*{newPassword}">
                                            <p th:errors="*{newPassword}">New Password error</p>
                                        </div>
                                        <hr>
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-lock-open"></i>Confirm New
                                                Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPasswordNewR" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="Confirm Password" required
                                                   th:field="*{repeatNewPassword}">
                                            <p th:errors="*{repeatNewPassword}">Confirm Password error</p>
                                        </div>
                                        <hr>
                                    </div>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create new service</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/my-profile/visit}" th:object="${visitDto}" method="post">
                                <div class="form-group">
                                    <label>Choose vehicle</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{vehicleId}">
                                        <option th:each="vehicle : ${vehicles}"
                                                th:value="${vehicle.getId()}"
                                                th:text="${vehicle.getLicensePlate()}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="services">Select service</label>
                                    <select class="form-control selectpicker" th:field="*{services}" id="services"
                                            multiple>
                                        <option th:each="service : ${vehicleServices}"
                                                th:value="${service.getId()}"
                                                th:text="${service.getName() + ', '+ service.getPrice()}">services
                                        </option>

                                    </select>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputStartDate">Start Date</label><br>
                                    <input type="datetime-local" id="inputStartDate" style="width: 150px"
                                           class="form-control" placeholder="Start Date"
                                           required th:field="*{startDate}">
                                    <p th:errors="*{startDate}">Incorrect start date.</p>
                                </div>
                                <br>

                                <div class="form-label-group">
                                    <label for="inputEndDate">End Date</label><br>
                                    <input type="datetime-local" id="inputEndDate" style="width: 150px"
                                           class="form-control" placeholder="End Date"
                                           required th:field="*{endDate}">
                                    <p th:errors="*{endDate}">Incorrect end date.</p>
                                </div>
                                <br>
                                <button type="submit" class="button-49">Create Visit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendReportModal" tabindex="-1" aria-labelledby="sendReportModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send Report</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/my-profile/sendReport}" th:object="${visitReportDto}" method="post">
                        <div class="card-body">
                            <div class="row" ><h6 class="mb-0 text-center"><i class="fas fa-solid fa-user"></i>Report Info</h6>
                                <div class="form-group">
                                    <label>Choose vehicle</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{id}">
                                        <option th:each="visit : ${visits}"
                                                th:value="${visit.getId()}"
                                                th:text="${visit.getVehicle().getModel().getMake().getName() + ' ' +
                                                visit.getVehicle().getModel().getName() + ' ' + visit.startDate}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Choose Currency</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{currencyId}">
                                        <option th:each="currency : ${allCurrencies}"
                                                th:value="${currency.getId()}"
                                                th:text="${currency.getName()}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <hr>
                                <button type="submit" class="button-49" role="button">Send email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateServiceModal" tabindex="-1" aria-labelledby="updateServiceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Service</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form style="padding: 20px;" th:action="@{/my-profile/serviceUpdate}"
                          th:object="${service}" method="post" class="form-signin">

                        <div class="form-group">
                            <label for="services">Select service</label>
                            <select class="form-control selectpicker" th:field="*{id}" id="services"
                                    multiple>
                                <option th:each="service : ${vehicleServices}"
                                        th:value="${service.getId()}"
                                        th:text="${service.getName() + ', '+ service.getPrice()}">services
                                </option>
                            </select>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label>Service name</label><br>
                            <input type="text" style="width: 150px"
                                   class="form-control" th:field="*{name}"
                                   placeholder="Service name" required>
                            <p th:errors="*{name}">Wrong service name</p>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label>Service price</label><br>
                            <input type="text" style="width: 150px"
                                   class="form-control" th:field="*{price}"
                                   placeholder="Service price" required>
                            <p th:errors="*{price}">Wrong service price</p>
                        </div>
                        <br>

                        <button type="submit" class="button-49" role="button">Update service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteServiceModal" tabindex="-1" aria-labelledby="deleteServiceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Service</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form style="padding: 20px;" th:action="@{/my-profile/serviceDelete}"
                          th:object="${service}" method="post" class="form-signin">

                        <div class="form-group">
                            <label for="services">Select service</label>
                            <select class="form-control selectpicker" th:field="*{id}" id="services"
                                    multiple>
                                <option th:each="service : ${vehicleServices}"
                                        th:value="${service.getId()}"
                                        th:text="${service.getName() + ', '+ service.getPrice()}">services
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="button-49" role="button">Delete service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!--<button type= "submit" class="button-49" role="button">Confirm</button>-->