<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Login</title>
    <link href="../static/CSS/signup-styles.css" th:href="@{/CSS/signup-styles.css}" rel="stylesheet">
</head>
<body>
<style>
    body{
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649697039/wallpaperflare.com_wallpaper_1_cjei4s.jpg") no-repeat;

    }
</style>
<div class="login-box">
    <h1>Password reset</h1>
    <form action="#" th:action="@{/forgotten-password-reset}" method="post" th:object="${forgottenPasswordReset}">
        <div class="textbox">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <!--            TODO ask for a icons fix. Need to implement icon for user and password-->
            <input type="password" placeholder="Password" th:field="*{password}">
            <label class="error" th:errors="*{password}">Password error placeholder</label>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" th:field="*{repeatPassword}">
            <label class="error" th:errors="*{repeatPassword}">Password error placeholder</label>
        </div>
        <input class="btn" type="submit" value="submit">
    </form>
</div>
</body>
</html>
