<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyProfile</title>
    <link href="../static/CSS/test.css" th:href="@{/CSS/test.css}" rel="stylesheet">
    <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />-->
</head>
<body>
<style>
    body {
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649494851/4k_wallpaper_duyboz.jpg") no-repeat;

    }
</style>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                             src="../static/img/car-repair-logo.png" alt=""
                                                             class="img-fluid"></a>
            <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/auth/register}">Register
                        User</a></li>
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/users}">Users list</a>
                    </li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/my-profile}">My profile</a></li>
                    <li th:unless="${currentUser != null}"><a class="nav-link" th:href="@{auth/login}">Login</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/auth/logout}">Log out</a></li>
                    <!--                        Sm@rtg1rag-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="cold-md-4-myprofile mb-3">
                <div class="card mb">
                    <div class="card-body">
                        <div class="left">
                            <form action="#" th:action="@{/users/filter}" th:object="${filterUsersDto}" method="post">
                                <label th:text="#{user.label.username}">User</label>
                                <br/>
                                <input type="text" th:field="*{username}"/>
                                <label class="error" th:errors="*{username}">Username error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.email}">User</label>
                                <br/>
                                <input type="text" th:field="*{email}"/>
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.phone}">User</label>
                                <br/>
                                <input type="text" th:field="*{phoneNumber}"/>
                                <label class="error" th:errors="*{phoneNumber}">Phone number error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.model}">User</label>
                                <br/>
                                <input type="text" th:field="*{model}"/>
                                <label class="error" th:errors="*{model}">Email error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.make}">User</label>
                                <br/>
                                <input type="text" th:field="*{make}"/>
                                <label class="error" th:errors="*{make}">Email error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.startDate}">User</label>
                                <br/>
                                <input type="datetime-local" th:field="*{startDate}"/>
                                <label class="error" th:errors="*{startDate}">Email error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.endDate}">User</label>
                                <br/>
                                <input type="datetime-local" th:field="*{endDate}"/>
                                <label class="error" th:errors="*{endDate}">Email error placeholder</label>
                                <br/><br/>

                                <label th:text="#{user.label.sort}">Sort Options</label>
                                <br/>

                                <select th:field="*{sort}">
                                    <option selected th:value="null"> Not ordered</option>
                                    <option th:each="option : ${userSortOptions}"
                                            th:value="${option.getPreview()}"
                                            th:text="${option.getPreview()}">
                                        BeerStyleOne
                                    </option>
                                </select>

                                <label class="error" th:errors="*{sort}">Sort error placeholder</label>
                                <br/><br/>

                                <br/><br/>
                                <input class="button-98" type="submit" value="Filter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div th:each="user : ${users}" class="col mb-5">
                                <table class="table user-list">
                                    <thead>
                                    <tr>
                                        <th> </th>
                                        <th><span>User</span></th>
                                        <th class="text-center"><span>User role</span></th>
                                        <th><span>Email</span></th>
                                        <th><span>Phone</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="width: 20%;">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt style="width: 80px;">
                                        </td>
                                        <td>
                                            <a href="#" th:href="@{/users/{id}(id=${user.getId()})}">
                                                <span class="user-link" th:text="${user.getUsername()}">Username</span>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span class="user-link" th:text="${user.getRole()}">Role</span>
                                        </td>
                                        <td>
                                            <span class="user-link" th:text="${user.email}">Email</span>
                                        </td>
                                        <td>
                                            <span class="user-link" th:text="${user.phoneNumber}">Phone</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">EditProfile</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/my-profile/user-info-change}" th:object="${editProfileDto}"
                                  method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-user"></i> Username</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputUsername" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${currentUser.getUsername()}" th:field="*{username}"><br>
                                            <p th:errors="*{username}">Username error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-mobile-alt"></i> Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputPhoneUpdate" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${currentUser.getPhone()}"
                                                   th:field="*{phoneNumber}"><br>
                                            <p th:errors="*{phoneNumber}">Phone error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editUserPassword" tabindex="-1" aria-labelledby="editUserPassword"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit password</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/my-profile/user-pass-change}"
                                  th:object="${passwordChangeDto}" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-unlock"></i> Old Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPassword" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="Old Password" required th:field="*{oldPassword}">
                                            <p th:errors="*{oldPassword}">Old Password error</p>
                                        </div>
                                        <hr>
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-lock-open"></i> New Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPassword" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="New Password" required th:field="*{newPassword}">
                                            <p th:errors="*{newPassword}">New Password error</p>
                                        </div>
                                        <hr>
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-lock-open"></i>Confirm New
                                                Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" id="inputPasswordNewR" class="form-control"
                                                   style="width: 140px"
                                                   placeholder="Confirm Password" required
                                                   th:field="*{repeatNewPassword}">
                                            <p th:errors="*{repeatNewPassword}">Confirm Password error</p>
                                        </div>
                                        <hr>
                                    </div>
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create new service</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/my-profile/visit}" th:object="${visitDto}" method="post">
                                <div class="form-group">
                                    <label>Choose vehicle</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{vehicleId}">
                                        <option th:each="vehicle : ${vehicles}"
                                                th:value="${vehicle.getId()}"
                                                th:text="${vehicle.getLicensePlate()}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="services">Select service</label>
                                    <select class="form-control selectpicker" th:field="*{services}" id="services"
                                            multiple>
                                        <option th:each="service : ${vehicleServices}"
                                                th:value="${service.getId()}"
                                                th:text="${service.getName() + ', '+ service.getPrice()}">services
                                        </option>

                                    </select>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputStartDate">Start Date</label><br>
                                    <input type="datetime-local" id="inputStartDate" style="width: 150px"
                                           class="form-control" placeholder="Start Date"
                                           required th:field="*{startDate}">
                                    <p th:errors="*{startDate}">Incorrect start date.</p>
                                </div>
                                <br>

                                <div class="form-label-group">
                                    <label for="inputEndDate">End Date</label><br>
                                    <input type="datetime-local" id="inputEndDate" style="width: 150px"
                                           class="form-control" placeholder="End Date"
                                           required th:field="*{endDate}">
                                    <p th:errors="*{endDate}">Incorrect end date.</p>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Create Visit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendReportModal" tabindex="-1" aria-labelledby="sendReportModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send Report</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/my-profile/sendReport}" th:object="${visitReportDto}" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0"><i class="fas fa-solid fa-user"></i>Report Info</h6>
                                </div>
                                <div class="form-group">
                                    <label>Choose vehicle</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{id}">
                                        <option th:each="visit : ${visits}"
                                                th:value="${visit.getId()}"
                                                th:text="${visit.getVehicle().getModel().getMake().getName() + ' ' +
                                                visit.getVehicle().getModel().getName() + ' ' + visit.startDate}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Choose Currency</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{currencyId}">
                                        <option th:each="currency : ${allCurrencies}"
                                                th:value="${currency.getId()}"
                                                th:text="${currency.getName()}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <hr>
                                <button type="submit" class="button-49" role="button">Send email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateServiceModal" tabindex="-1" aria-labelledby="updateServiceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Service</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form style="padding: 20px;" th:action="@{/my-profile/serviceUpdate}"
                          th:object="${service}" method="post" class="form-signin">

                        <div class="form-group">
                            <label for="services">Select service</label>
                            <select class="form-control selectpicker" th:field="*{id}" id="services"
                                    multiple>
                                <option th:each="service : ${vehicleServices}"
                                        th:value="${service.getId()}"
                                        th:text="${service.getName() + ', '+ service.getPrice()}">services
                                </option>
                            </select>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label>Service name</label><br>
                            <input type="text" style="width: 150px"
                                   class="form-control" th:field="*{name}"
                                   placeholder="Service name" required>
                            <p th:errors="*{name}">Wrong service name</p>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label>Service price</label><br>
                            <input type="text" style="width: 150px"
                                   class="form-control" th:field="*{price}"
                                   placeholder="Service price" required>
                            <p th:errors="*{price}">Wrong service price</p>
                        </div>
                        <br>

                        <button type="submit" class="button-49" role="button">Update service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteServiceModal" tabindex="-1" aria-labelledby="deleteServiceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Service</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form style="padding: 20px;" th:action="@{/my-profile/serviceDelete}"
                          th:object="${service}" method="post" class="form-signin">

                        <div class="form-group">
                            <label for="services">Select service</label>
                            <select class="form-control selectpicker" th:field="*{id}" id="services"
                                    multiple>
                                <option th:each="service : ${vehicleServices}"
                                        th:value="${service.getId()}"
                                        th:text="${service.getName() + ', '+ service.getPrice()}">services
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="button-49" role="button">Delete service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!--<button type= "submit" class="button-49" role="button">Confirm</button>-->