<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="../static/CSS/test.css" th:href="@{/CSS/test.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="static-txt">I'm</div>
    <ul class="dynamic-txts">
        <li> <span>YouTuber</span></li>
        <li> <span>Designer</span></li>
        <li> <span>Web dev</span></li>
        <li> <span>Freelancer</span></li>
    </ul>
</div>
</body>
</html>

<!--link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">-->