<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyProfile</title>
    <link href="../static/CSS/My-profile.css" th:href="@{/CSS/My-profile.css}" rel="stylesheet">
    <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
</head>
<body>
<style>
    body {
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649494851/4k_wallpaper_duyboz.jpg") no-repeat;

    }
</style>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                             src="../static/img/car-repair-logo.png" alt=""
                                                             class="img-fluid"></a>
            <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/auth/register}">Register
                        User</a></li>
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link" th:href="@{/users}">Users list</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/my-profile}">My profile</a></li>
                    <li th:unless="${currentUser != null}"><a class="nav-link" th:href="@{auth/login}">Login</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/auth/logout}">Log out</a></li>
                    <!--                        Sm@rtg1rag-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="cold-md-4-myprofile mb-3">
                <div class="card-myprofile">
                    <div class="card-body-myprofile">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <!--                                <h4><p class="mb-1" th:text="${currentUser.getUsername()}">Username</p></h4>-->
                                <!--                                <h4><p class="text-muted font-size-sm" th:text="${currentUser.getRole()}">Role</p></h4>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-solid fa-user"></i> Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${user.getUsername()}">Username</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-user-shield"></i> Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${user.getRole()}">Role</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-mobile-alt"></i> Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${user.getPhone()}">Phone</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><i class="fas fa-envelope"></i> Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${user.getEmail()}">Email</h6>
                            </div>
                        </div>
                        <hr>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Create Visit
                        </button>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#addVehicleModal"><i
                                class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Аdd vehicle
                        </button>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78"
                                data-mdb-toggle="modal" data-mdb-target="#editProfileModal"><i class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Edit
                            Profile
                        </button>
                        <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78"
                                data-mdb-toggle="modal" data-mdb-target="#deleteProfileModal"><i class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delete
                        </button>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <div th:each="vehicle : ${vehicles}">
                                <!-- Post preview-->
                                <div class="post-preview expand">
                                    <div class="wrapper">
                                        Vehicle VIN:
                                        <span class="fw-bolder" href="#" th:text="${vehicle.getVIN()}">VIN</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle License Plate:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getLicensePlate()}">Price</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle Brand:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getModel().getMake().getName()}">Brand</span>
                                    </div>
                                    <div class="wrapper">
                                        Vehicle Model:
                                        <span class="fw-bolder" href="#"
                                              th:text="${vehicle.getModel().getName()}">Model</span>
                                    </div>
                                    <div class="wrapper">
                                        Creation Year:
                                        <span class="fw-bolder" href="#" th:text="${vehicle.getCreationYear()}">Creation Year</span>
                                    </div>
                                </div>
                                <hr class="my-4"/>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addVehicleModal" tabindex="-1" aria-labelledby="addVehicleModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Vehicle</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/users/{id}/vehicle(id=${user.id})}" th:object="${vehicle}"
                                  method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Choose vehicle</label>
                                        <select class="selectMY" style="width: 150px" th:field="*{id}">
                                            <option th:each="vehicle : ${allVehicles}"
                                                    th:value="${vehicle.getId()}"
                                                    th:text="${vehicle.getModel().getMake().getName() + ' ' +
                                                    vehicle.getModel().getName() + ' ' + vehicle.getLicensePlate() +
                                                    ' ' + vehicle.getCreationYear()}">
                                                Model
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">EditProfile</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/users/{id}/update(id=${user.id})}" th:object="${editProfileDto}"
                                  method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-solid fa-user"></i> Username</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputUsername" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${user.getUsername()}" th:field="*{username}"><br>
                                            <p th:errors="*{username}">Username error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0"><i class="fas fa-mobile-alt"></i> Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" id="inputPhoneUpdate" class="form-control"
                                                   style="width: 300px"
                                                   th:placeholder="${user.getPhone()}"
                                                   th:field="*{phoneNumber}"><br>
                                            <p th:errors="*{phoneNumber}">Phone error</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Profile</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/users/{id}/delete(id=${user.id})}"
                                  method="post">
                                    Are you sure you want to delete this user?
                                    <hr>
                                    <button type="submit" class="button-49" role="button">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create new visit</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/users/{id}/visit(id=${user.id})}" th:object="${visitDto}" method="post">
                                <div class="form-group">
                                    <label>Choose vehicle</label>
                                    <select class="selectMY" style="width: 150px" th:field="*{vehicleId}">
                                        <option th:each="vehicle : ${vehicles}"
                                                th:value="${vehicle.getId()}"
                                                th:text="${vehicle.getLicensePlate()}">
                                            Model
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="services">Select service</label>
                                    <select class="form-control selectpicker" th:field="*{services}" id="services"
                                            multiple>
                                        <option th:each="service : ${vehicleServices}"
                                                th:value="${service.getId()}"
                                                th:text="${service.getName() + ', '+ service.getPrice()}">services
                                        </option>

                                    </select>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputStartDate">Start Date</label><br>
                                    <input type="datetime-local" id="inputStartDate" style="width: 150px"
                                           class="form-control" placeholder="Start Date"
                                           required th:field="*{startDate}">
                                    <p th:errors="*{startDate}">Incorrect vehicle plate.</p>
                                </div>
                                <br>

                                <div class="form-label-group">
                                    <label for="inputEndDate">End Date</label><br>
                                    <input type="datetime-local" id="inputEndDate" style="width: 150px"
                                           class="form-control" placeholder="Start Date"
                                           required th:field="*{endDate}">
                                    <p th:errors="*{endDate}">Incorrect vehicle plate.</p>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Create Visit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!--<button type= "submit" class="button-49" role="button">Confirm</button>-->