<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyProfile</title>
  <link href="../static/CSS/users.css" th:href="@{/CSS/users.css}" rel="stylesheet">
  <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
  <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />-->
</head>
<body>
<style>
  body {
    background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649494851/4k_wallpaper_duyboz.jpg") no-repeat;

  }
</style>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                       src="../static/img/car-repair-logo.png" alt=""
                                                       class="img-fluid"></a>
      <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="active" th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                            th:href="@{/auth/register}">Register
            User</a></li>
          <li class="active" th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                            th:href="@{/users}">Users list</a>
          </li>
          <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
          <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/my-profile}">My profile</a></li>
          <li class="active" th:unless="${currentUser != null}"><a class="nav-link" th:href="@{auth/login}">Login</a></li>
          <li class="active" th:if="${currentUser != null}"><a class="nav-link" th:href="@{/auth/logout}">Log out</a></li>
          <!--                        Sm@rtg1rag-->
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="cold-md-4-myprofile mb-3">
        <div class="card mb">
          <div class="card-body">
            <div class="left">
              <form action="#" th:action="@{/users/filter}" th:object="${filterUsersDto}" method="post">
                <label th:text="#{user.label.username}">User</label>
                <br/>
                <input type="text" th:field="*{username}"/>
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.email}">User</label>
                <br/>
                <input type="text" th:field="*{email}"/>
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.phone}">User</label>
                <br/>
                <input type="text" th:field="*{phoneNumber}"/>
                <label class="error" th:errors="*{phoneNumber}">Phone number error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.model}">User</label>
                <br/>
                <input type="text" th:field="*{model}"/>
                <label class="error" th:errors="*{model}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.make}">User</label>
                <br/>
                <input type="text" th:field="*{make}"/>
                <label class="error" th:errors="*{make}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.startDate}">User</label>
                <br/>
                <input type="datetime-local" th:field="*{startDate}"/>
                <label class="error" th:errors="*{startDate}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.endDate}">User</label>
                <br/>
                <input type="datetime-local" th:field="*{endDate}"/>
                <label class="error" th:errors="*{endDate}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.sort}">Sort Options</label>
                <br/>

                <select th:field="*{sort}">
                  <option selected th:value="null"> Not ordered</option>
                  <option th:each="option : ${userSortOptions}"
                          th:value="${option.getPreview()}"
                          th:text="${option.getPreview()}">
                    BeerStyleOne
                  </option>
                </select>

                <label class="error" th:errors="*{sort}">Sort error placeholder</label>
                <br/><br/>

                <br/><br/>
                <input class="button-49" type="submit" value="Filter"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table user-list ">
                <tr>
                  <th></th>
                  <th class="text-center"><span>Username</span></th>
                  <th class="text-center"><span>User role</span></th>
                  <th></th>
                  <th class="text-center"><span>Email</span></th>
                  <th></th>
                  <th></th>
                  <th class="text-center"><span>Phone</span></th>
                </tr>
              </table>
              <div th:each="user : ${users}" class="col mb-5">
                <table class="table user-list">
                  <thead>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="width: 20%;">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt style="width: 80px;">
                    </td>
                    <td>
                      <a href="#" th:href="@{/users/{id}(id=${user.getId()})}">
                        <span class="user-link" th:text="${user.getUsername()}">Username</span>
                      </a>
                    </td>
                    <td class="text-center">
                      <span class="user-link" th:text="${user.getRole()}">Role</span>
                    </td>
                    <td>
                      <span class="user-link" th:text="${user.email}">Email</span>
                    </td>
                    <td>
                      <span class="user-link" th:text="${user.phoneNumber}">Phone</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<!--<button type= "submit" class="button-49" role="button">Confirm</button>-->