<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left">
    <form action="#" th:action="@{/users/filter}" th:object="${filterUsersDto}" method="post">
        <label th:text="#{user.label.username}">User</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <label class="error" th:errors="*{username}">Username error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.email}">User</label>
        <br/>
        <input type="text" th:field="*{email}"/>
        <label class="error" th:errors="*{email}">Email error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.phone}">User</label>
        <br/>
        <input type="text" th:field="*{phoneNumber}"/>
        <label class="error" th:errors="*{phoneNumber}">Phone number error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.model}">User</label>
        <br/>
        <input type="text" th:field="*{model}"/>
        <label class="error" th:errors="*{model}">Email error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.make}">User</label>
        <br/>
        <input type="text" th:field="*{make}"/>
        <label class="error" th:errors="*{make}">Email error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.startDate}">User</label>
        <br/>
        <input type="text" th:field="*{startDate}"/>
        <label class="error" th:errors="*{startDate}">Email error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.endDate}">User</label>
        <br/>
        <input type="text" th:field="*{endDate}"/>
        <label class="error" th:errors="*{endDate}">Email error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.sort}">Sort Options</label>
        <br/>

        <select th:field="*{sort}">
            <option selected th:value="null"> Not ordered</option>
            <option th:each="option : ${userSortOptions}"
                    th:value="${option.getPreview()}"
                    th:text="${option.getPreview()}">
                BeerStyleOne
            </option>
        </select>

        <label class="error" th:errors="*{sort}">Sort error placeholder</label>
        <br/><br/>

        <br/><br/>
        <input type="submit" value="Filter"/>
    </form>
</div>
<div class="right">
    <div th:each="user : ${users}" class="col mb-5">
            <h2 class="fw-bolder" th:text="${user.username}">Username</h2>
            <h2 class="fw-bolder" th:text="${user.phoneNumber}">Phone</h2>
            <h2 class="fw-bolder" th:text="${user.email}">Email</h2>
        <hr class="my-4"/>
    </div>
</div>
</body>
</html>