<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <link href="../static/CSS/users.css" th:href="@{/CSS/users.css}" rel="stylesheet">
    <link href="../static/CSS/styles.css" th:href="@{/CSS/styles.css}" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>

</head>
<body>
<style>
    body {
        background: url("https://res.cloudinary.com/dpe6hblnv/image/upload/v1649494851/4k_wallpaper_duyboz.jpg") no-repeat;

    }
</style>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo.png}"
                                                             src="../static/img/car-repair-logo.png" alt=""
                                                             class="img-fluid"></a>
            <!--                <a th:href="@{/}" class="navbar-brand-logo"><img th:src="@{/img/car-repair-logo-header.jpg}" src="../static/img/car-repair-logo-header.jpg" alt="" class="img-fluid"></a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/auth/register}">Register
                        User</a></li>
                    <li th:if="${currentUser != null && currentUser.isEmployee()}"><a class="nav-link"
                                                                                      th:href="@{/users}">Users list</a>
                    </li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/my-profile}">My profile</a></li>
                    <li th:unless="${currentUser != null}"><a class="nav-link" th:href="@{auth/login}">Login</a></li>
                    <li th:if="${currentUser != null}"><a class="nav-link" th:href="@{/auth/logout}">Log out</a></li>
                    <!--                        Sm@rtg1rag-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="cold-md-4-myprofile mb-3">
                        <div class="card mb">
                            <div class="card-body">
                <div class="left">
                    <H2>
                        Vehicle settings
                    </H2>
                    <hr>
                    <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#createMake"><i
                            class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;CreateMake
                    </button>
                    <hr>
                    <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#updateMake"><i
                            class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;UpdateMake
                    </button>
                    <hr>
                    <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78" data-mdb-toggle="modal" data-mdb-target="#createModel"><i
                            class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;CreateModel
                    </button>
                    <hr>
                    <button th:if="${currentUser != null && currentUser.isEmployee()}" class="button-78"
                            data-mdb-toggle="modal" data-mdb-target="#createVehicle"><i class="fas fa-tools"></i>&nbsp;&nbsp;&nbsp;&nbsp;CreateVehicle
                    </button>
                    <hr>
                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb">
                            <div class="card-body">
                <div class="table-responsive">
                    <div th:each="vehicle : ${allVehicles}" class="col mb-5">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>Owner</span></th>
                                <th class="text-center"><span>Brand</span></th>
                                <th><span>Model</span></th>
                                <th>&nbsp;Plate</th>
                                <th><span>Year</span></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span href="#">
                                        <span class="user-link" th:text="${vehicle.getUserName()}">Username</span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="user-link" th:text="${vehicle.getModel().getMake().getName()}">Brand</span>
                                </td>
                                <td>
                                    <span class="user-link" th:text="${vehicle.getModel().getName()}">Model</span>
                                </td>
                                <td style="width: 20%;">
                                    <span class="user-link" th:text="${vehicle.getLicensePlate()}">Plate</span>
                                </td>
                                <td>
                                    <span class="user-link" th:text="${vehicle.getCreationYear()}">Year</span>
                                </td>
                                <td>
                                    <a th:if="${currentUser != null && currentUser.isEmployee()}" href="#" class="table-link danger" data-mdb-toggle="modal"
                                       th:attr="data-mdb-target=${'#exampleModalAddUser'+ vehicle.getId()}" data-row="${vehicle}">
                                    <span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-car fa-stack-1x fa-inverse"></i>
									</span>
                                    </a>
                                </td>
                                <td>
<!--                                    <button class="btn btn-danger" data-mdb-toggle="modal"-->
<!--                                            th:attr="data-mdb-target=${'#exampleModalDelete'+ vehicle.getId()}" data-row="${vehicle}">Delete</button>-->
                                <a th:if="${currentUser != null && currentUser.isEmployee()}" href="#" class="table-link danger" data-mdb-toggle="modal"
                                   th:attr="data-mdb-target=${'#exampleModalDelete'+ vehicle.getId()}" data-row="${vehicle}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                                </a>
                                </td>
                                <td>
                                    <a th:if="${currentUser != null && currentUser.isEmployee()}" href="#" class="table-link danger" data-mdb-toggle="modal"
                                       th:attr="data-mdb-target=${'#exampleModalEditVehicle'+ vehicle.getId()}" data-row="${vehicle}">
                                    <span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:each="vehicle : ${allVehicles}" th:attr="id=${'exampleModalAddUser' + vehicle.getId()}"  tabindex="-1" aria-labelledby="exampleModalAddUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalAddUser">Add vehicle to user</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/{id}/addUser(id=${vehicle.getId()})}" th:object="${user}" method="post" class="new-service-form">
                    <div class="form-group">
                        <label>Select user</label>
                        <select class="selectMY" style="width: 150px" th:field="*{id}">
                            <option th:each="user : ${users}"
                                    th:value="${user.getId()}"
                                    th:text="${user.getUsername() + ', ' + user.getPhoneNumber()}">
                                Model
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">Add vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="modal fade" th:each="vehicle : ${allVehicles}" th:attr="id=${'exampleModalDelete' + vehicle.getId()}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Vehicle?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/{id}/delete(id=${vehicle.getId()})}" th:object="${vehicle}" method="post" class="new-service-form">
                    <h4>Are you sure you want to delete this vehicle?</h4>
                    <button type="submit" class="btn btn-danger">Delete Vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:each="vehicle : ${allVehicles}" th:attr="id=${'exampleModalEditVehicle' + vehicle.getId()}"  tabindex="-1" aria-labelledby="exampleModalEditVehicle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalEditVehicle">Add vehicle to user</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/vehicles/{id}/edit(id=${vehicle.getId()})}" th:object="${editVehicleDto}" method="post" class="new-service-form">
                    <div class="form-group">
                        <label>Select user</label>
                        <select class="selectMY" style="width: 150px" th:field="*{userId}">
                            <option th:each="user : ${users}"
                                    th:value="${user.getId()}"
                                    th:text="${user.getUsername() + ', ' + user.getPhoneNumber()}">
                                User
                            </option>
                        </select>
                    </div>
                    <div class="form-label-group">
                        <label for="inputMake">License plate</label><br>
                        <input type="text" id="inputLicensePlate" style="width: 150px"
                               class="form-control" th:placeholder="${vehicle.getLicensePlate()}"
                               required th:field="*{licensePlate}">
                        <p th:errors="*{licensePlate}">Incorrect make name.</p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger">Update Vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createMake" tabindex="-1" aria-labelledby="createMakeLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createMakeLabel">Create new make</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/vehicles/make}" th:object="${brandDto}" method="post">
                    <div class="form-label-group">
                        <label for="inputEndDate">Model make</label><br>
                        <input type="text" id="inputEndDate" style="width: 150px"
                               class="form-control" placeholder="Make name"
                               required th:field="*{name}">
                        <p th:errors="*{name}">Incorrect make name.</p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Create make</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createVehicle" tabindex="-1" aria-labelledby="createVehicleLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createVehicleLabel">Create new vehicle</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/vehicles/create}" th:object="${vehicleDto}" method="post">
                    <div class="form-group">
                        <label>Choose model</label>
                        <select class="selectMY" style="width: 150px" th:field="*{modelId}">
                            <option th:each="model : ${allModels}"
                                    th:value="${model.getId()}"
                                    th:text="${model.getMake().getName() + ' ' + model.getName()}">
                                Model
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputVIN">Vehicle VIN</label><br>
                        <input type="text" id="inputVIN" style="width: 150px"
                               class="form-control" placeholder="VIN"
                               required th:field="*{VIN}">
                        <p th:errors="*{VIN}">Incorrect VIN.</p>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputLicensePlate">License Plate</label><br>
                        <input type="text" id="" style="width: 150px"
                               class="form-control" placeholder="License plate"
                               required th:field="*{licensePlate}">
                        <p th:errors="*{licensePlate}">Incorrect license plate.</p>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputCreationYear">Creation year</label><br>
                        <input type="text" id="inputCreationYear" style="width: 150px"
                               class="form-control" placeholder="Creation year"
                               required th:field="*{creationYear}">
                        <p th:errors="*{creationYear}">Incorrect creation year.</p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Create vehicle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateMake" tabindex="-1" aria-labelledby="updateMakeLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateMakeLabel">Update make</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/vehicles/makeUpdate}" th:object="${make}" method="post">
                    <div class="form-group">
                        <label>Choose Brand</label>
                        <select class="selectMY" style="width: 150px" th:field="*{id}">
                            <option th:each="make : ${allMakes}"
                                    th:value="${make.getId()}"
                                    th:text="${make.getName()}">
                                Brand
                            </option>
                        </select>
                    </div>
                    <div class="form-label-group">
                        <label for="inputMake">Make name</label><br>
                        <input type="text" id="inputMake" style="width: 150px"
                               class="form-control" th:placeholder="${make.getName()}"
                               required th:field="*{name}">
                        <p th:errors="*{name}">Incorrect make name.</p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Update make</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createModel" tabindex="-1" aria-labelledby="createModelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModelLabel">Create new model</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/vehicles/model}" th:object="${modelDto}" method="post">
                    <div class="form-group">
                        <label>Choose Brand</label>
                        <select class="selectMY" style="width: 150px" th:field="*{makeId}">
                            <option th:each="make : ${allMakes}"
                                    th:value="${make.getId()}"
                                    th:text="${make.getName()}">
                                Brand
                            </option>
                        </select>
                    </div>
                    <div class="form-label-group">
                        <label for="inputEndDate">Model name</label><br>
                        <input type="text" id="inputModel" style="width: 150px"
                               class="form-control" placeholder="Model name"
                               required th:field="*{name}">
                        <p th:errors="*{name}">Incorrect model name.</p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Create model</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>